<br><br><br><br><br><br><br>
<div class="container">
  <div class="col-md-6">
    <select class="form-control"  name="search" [(ngModel)]="search" >
      <option></option>
<option *ngFor="let categorie of categories">{{categorie}}</option>
     </select>

  </div>
  <br><br><br>
  <div class="row">
    <table>
      <table class="table table-striped table-hover">
      <th >productName</th>
      <th>basePrice</th>
      <th >category</th>
      <th>brand</th>
      <th>productMaterial</th>
      <th>image</th>
      <th>delivery</th>
      <th>details</th>
      <th>reviews</th>
      <tr  *ngFor="let produit of produits| paginate: { itemsPerPage: 20, currentPage: p }|searching : search.toString().toLowerCase()" >
        <td>{{produit.productName}} </td>
        <td>{{produit.basePrice}}</td>
        <td>{{produit.category}}</td>
        <td>{{produit.brand}}</td>
        <td>{{produit.productMaterial}}</td>
        <td > <img src="{{produit.imageUrl}}" alt="" style="width: 50%;"> </td>
        <td>{{produit.delivery}}</td>
        <td>{{produit.details}}</td>
        <td>
            <li *ngFor="let review of produit.reviews "> {{review.rating}} {{review.content}} </li>
        </td>

      </tr>
    </table>
    <div class="row">
                <div class="col col-xs-6" >
                  <pagination-controls (pageChange)="p = $event" #api></pagination-controls>
                </div>
    </div>

    </table>
  </div>
</div>
