.notif-bar{
  box-shadow: 0 2px 6px #b3b3b3;
  margin-top: -20px;
  margin-left: -15px;
  margin-right: -15px;
  height: 35px;
}

.notif-bar .notif i {
  width: 30px;
  margin-top: 10px;
  color: #383838;
}
.notif-bar .notif {
  float: right;
  position: relative;
  top: 8px;
}
.col-sm-9 {
  width: 85%;
}
h3{
  color:white;
}
h5{
  color: #6baa8e;
}
hr{
  border-bottom: 1px solid #8ad7b5;

}
li{
  cursor: pointer;
}

p{
  display: inline-block;
  font-size: 17px;
}
i{
  display: inline;
  font-size: 18px;
  margin-right: 10px;
}
